.banner-slide[data-theme="users"] {
  --decor-image: url("../../image/promo-users-mobile.png");
  --decor-image2x: url("../../image/promo-users-mobile@2x.png");
  --decor-image-webp: url("../../image/promo-users-mobile.webp");
  --decor-image-webp2x: url("../../image/promo-users-mobile@2x.webp");
  --width-decor-image: 277px;
  --height-decor-image: 249px;
  --decor-position-top: -76px;
}

.banner-slide[data-theme="courses"] {
  --decor-image: url("../../image/promo-courses-mobile.png");
  --decor-image2x: url("../../image/promo-courses-mobile@2x.png");
  --decor-image-webp: url("../../image/promo-courses-mobile.webp");
  --decor-image-webp2x: url("../../image/promo-courses-mobile@2x.webp");
  --width-decor-image: 280px;
  --height-decor-image: 280px;
  --decor-position-top: -50px;
}

.banner-slide[data-theme="mentors"] {
  --decor-image: url("../../image/promo-mentors-mobile.png");
  --decor-image2x: url("../../image/promo-mentors-mobile@2x.png");
  --decor-image-webp: url("../../image/promo-mentors-mobile.webp");
  --decor-image-webp2x: url("../../image/promo-mentors-mobile@2x.webp");
  --width-decor-image: 280px;
  --height-decor-image: 280px;
  --decor-position-top: -58px;
}

.banner-slide {
  position: relative;
  background-color: #F8F7FC;
  border-radius: 34px;
  border: 1px solid #EEEEEE;
  padding: 232px 24px 39px 21px;

  &::before {
    content: "";
    background-image: var(--decor-image);
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--width-decor-image);
    height: var(--height-decor-image);
    position: absolute;
    top: var(--decor-position-top);
    left: 0;
  }

  &::before {
    background-image: image-set(
                    var(--decor-image-webp2x) 2x,
                    var(--decor-image-webp) 1x,
                    var(--decor-image2x) 2x,
                    var(--decor-image) 1x
    );
  }
}

.banner-slide__title {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  color: $color-secondary;
}

.banner-slide__description {
  color: #252830;
  font-weight: 400;
  font-size: 14px;
  margin: 14px 0 0 0;
  line-height: 160%;
}

@media (min-width: $width-tablet) {
  .banner-slide {
    padding: 232px 40px 39px 40px;

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .banner-slide__content {
    text-align: center;
  }

  .banner-slide__title {
    font-size: 22px;
  }

  .banner-slide__description {
    font-size: 16px;
    margin: 14px 0 0 0;
  }
}

@media (min-width: $width-desktop) {
  .banner-slide[data-theme="users"] {
    --decor-image: url("../../image/promo-users-desktop.png");
    --decor-image2x: url("../../image/promo-users-desktop@2x.png");
    --decor-image-webp: url("../../image/promo-users-desktop.webp");
    --decor-image-webp2x: url("../../image/promo-users-desktop@2x.webp");
    --width-decor-image: 424px;
    --height-decor-image: 383px;
    --decor-position-top: -128px;
    --decor-position-left: -23px;
    --max-width: 338px;
    --gap: 70px;
    --margin-right: 50px;
    --justify-content: flex-start;
  }

  .banner-slide[data-theme="courses"] {
    --decor-image: url("../../image/promo-courses-desktop.png");
    --decor-image2x: url("../../image/promo-courses-desktop@2x.png");
    --decor-image-webp: url("../../image/promo-courses-desktop.webp");
    --decor-image-webp2x: url("../../image/promo-courses-desktop@2x.webp");
    --width-decor-image: 425px;
    --height-decor-image: 425px;
    --decor-position-top: -117px;
    --decor-position-left: -23px;
    --max-width: 396px;
    --gap: 18px;
    --margin-right: 50px;
    --justify-content: center;
  }

  .banner-slide[data-theme="mentors"] {
    --decor-image: url("../../image/promo-mentors-desktop.png");
    --decor-image2x: url("../../image/promo-mentors-desktop@2x.png");
    --decor-image-webp: url("../../image/promo-mentors-desktop.webp");
    --decor-image-webp2x: url("../../image/promo-mentors-desktop@2x.webp");
    --width-decor-image: 425px;
    --height-decor-image: 425px;
    --decor-position-top: -124px;
    --decor-position-left: -15px;
    --max-width: 338px;
    --gap: 25px;
    --margin-right: 42px;
    --justify-content: flex-end;
  }

  .banner-slide {
    padding: 0;
    background-color: transparent;
    border: none;
    max-width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: var(--justify-content);
    gap: var(--gap);
    margin-right: var(--margin-right);

    &::before {
      position: static;
      transform: none;
      margin: var(--decor-position-top) 0 0 var(--decor-position-left);
    }
  }

  .banner-slide__content {
    width: 100%;
    max-width: var(--max-width);
    text-align: start;
  }

  .banner-slide__title {
    font-size: 30px;
  }

  .banner-slide__description {
    font-size: 16px;
    margin: 20px 0 0 0;
  }
}
