.page-main {
  background-image: url("../../image/bg-decor-mobile.png");
  background-image: image-set(
                  url("../../image/bg-decor-mobile@2x.webp") 2x,
                  url("../../image/bg-decor-mobile.webp") 1x,
                  url("../../image/bg-decor-mobile@2x.png") 2x,
                  url("../../image/bg-decor-mobile.png") 1x
  );
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

@media (min-width: $width-tablet) {
  .page-main {
    top: 87px
  }
}


@media (min-width: $width-desktop) {
  .page-main {
    background-image: url("../../image/bg-decor-desktop.png");
    background-image: image-set(
                    url("../../image/bg-decor-desktop@2x.webp") 2x,
                    url("../../image/bg-decor-desktop.webp") 1x,
                    url("../../image/bg-decor-desktop@2x.png") 2x,
                    url("../../image/bg-decor-desktop.png") 1x
    );
    background-position: 0 680px;
  }
}
