.footer {
  background-color: #222222;
}

.footer__wrapper {
  padding: 28px 20px 100px 20px;
}

.footer__container {
  margin-top: 28px;

  &--directions {
    display: none;
  }

  &--info {
    display: none;
  }
}

.footer__container--intro::after {
  content: "";
  display: block;
  width: 100vw;
  height: 1px;
  margin-left: calc((100% - 100vw) / 2);
  margin-top: 28px;
  background-color: #504F4F;
}

.footer__copyright {
  display: block;
  font-size: 16px;
  line-height: 160%;
  color: $color-footer-link;
  font-weight: 500;
  margin: 25px 0 0 0;
}

.footer__subtitle {
  color: #FAFAFA;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  margin: 0;
}

.footer__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 23px 0 0 0;
}

.footer__link {
  font-size: 16px;
  line-height: 160%;
  color: $color-footer-link;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}

@media (min-width: $width-tablet) {
  .footer__wrapper {
    padding: 50px 45px 100px 45px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }

  .footer__container {
    margin: 0;

    &--directions {
      display: block;
    }
  }

  .footer__content {
    display: flex;
    gap: 30px;
    flex-grow: 1;
  }

  .footer__container--intro::after {
    display: none;
  }

  .footer__list {
    margin: 40px 0 0 0;
  }
}

@media (min-width: $width-desktop) {
  .footer__wrapper {
    padding: 80px 143px 298px 100px;
    max-width: 1480px;
    margin: 0 auto;
    gap: 50px 0;
  }

  .footer__intro {
    margin-right: calc((98 / 1224) * 100%);
  }

  .footer__content {
    gap: 0;
  }

  .footer__container {
    margin-top: 11px;
    flex-grow: 1;
    gap: 0;

    &--categories {
      margin-right: 83px;
    }

    &--directions {
      margin-right: 130px;
    }

    &--info {
      display: block;
    }
  }

  .footer__container--direction .footer__subtitle {
    text-wrap: nowrap;
  }

  .footer__copyright {
    margin-top: 47px;
    margin-left: 7px;
    font-size: 20px;
  }

  .footer__list {
    margin: 53px 0 0 0;
    gap: 24px;
  }
}
