.header__wrapper {
  padding: 13px 20px 21px 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  transition: 0.3s;
  z-index: 999;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100vw;
    height: 1px;
    background-color: $color-decor-line;
    z-index: 9;
  }

  &--opened-menu {
    padding: 18px 20px 16px 20px;
    background-color: $bg-color-nav;
    transition: 0.3s;
    align-items: flex-start;
  }
}

.header__wrapper--opened-menu::before {
  display: none;
}

.header__logo .logo__text {
  display: none;
}

@media (min-width: $width-tablet) {
  .header__wrapper {
    padding: 20px 45px 20px 45px;
  }
}

@media (min-width: $width-desktop) {
  .header {
    background-color: $color-primary-light;
  }

  .header__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 39px 100px 23px 100px;
    max-width: 1480px;
    margin: 0 auto;
    gap: 37px 0;

    &::before {
      display: none;
    }
  }

  .header__logo .logo__text {
    display: block;
    color: $color-secondary;
  }
}

