.promo-banner__wrapper {
  padding: 0 20px 54px 20px;
}

.promo-banner__title {
  @include h2;
}

.promo-banner__slider {
  width: 100vw;
  margin-top: 54px;
  margin-left: calc((100% - 100vw) / 2);
}

.promo-banner__slider-wrapper {
  @include reset-list;
  display: flex;
}

.promo-banner__slide {
  width: calc(100% - 40px);
  flex-shrink: 0;
}

.promo-banner__slide.swiper-slide-active {
  margin-top: -19px;
  transition: margin-top 0.3s;
}

.promo-banner__navigation {
  margin: 16px auto 0 auto;
}

@media (min-width: $width-tablet) {
  .promo-banner__wrapper {
    padding: 0 45px 54px 45px;
  }

  .promo-banner__title {
    text-align: center;
  }

  .promo-banner__slider {
    margin-top: 100px;
  }

  .promo-banner__slide {
    max-width: calc(100% - 90px);
  }
}

@media (min-width: $width-desktop) {
  .promo-banner__wrapper {
    max-width: 1278px;
    margin: 0 auto 123px auto;
    background-color: $color-primary-light;
    padding: 81px 108px 94px 88px;
    border-radius: 72px;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 142px 0;
    justify-content: space-between;
    box-shadow: 0 4px 20px 0 rgba(#868686, 1%);
  }

  .promo-banner__title {
    grid-column: 1/-1;
    text-align: center;
    max-width: 987px;
    margin: 0 0 0 58px;
  }

  .promo-banner__slider {
    width: 100%;
    margin: 0;
  }

  .promo-banner__slider-wrapper {
    height: 100%;
  }

  .promo-banner__slide {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    grid-column: 1/2;
    max-width: 100%;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;

    &--active {
      transition: opacity 0.3s;
      position: static;
      opacity: 1;
      visibility: visible;
    }
  }

  .promo-banner__slide[aria-hidden="true"] {
    display: none;
  }

  .promo-banner__controls {
    grid-column: 2/3;
    width: 100%;
  }
}
