.banner-slide[data-theme="users"] {
  --decor-image: url("../../image/promo-users-mobile.png");
  --width-decor-image: 277px;
  --height-decor-image: 249px;
  --decor-position-top: -76px;
}

.banner-slide[data-theme="courses"] {
  --decor-image: url("../../image/promo-courses-mobile.png");
  --width-decor-image: 280px;
  --height-decor-image: 280px;
  --decor-position-top: -50px;
}

.banner-slide[data-theme="mentors"] {
  --decor-image: url("../../image/promo-mentors-mobile.png");
  --width-decor-image: 280px;
  --height-decor-image: 280px;
  --decor-position-top: -58px;
}

.banner-slide {
  position: relative;
  background-color: #F8F7FC;
  border-radius: 34px;
  border: 1px solid #EEEEEE;
  padding: 232px 24px 39px 21px;

  &::before {
    content: "";
    background-image: var(--decor-image);
    width: var(--width-decor-image);
    height: var(--height-decor-image);
    position: absolute;
    top: var(--decor-position-top);
    left: 0;
  }
}

.banner-slide__title {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  color: $color-secondary;
}

.banner-slide__description {
  color: #252830;
  font-weight: 400;
  font-size: 14px;
  margin: 14px 0 0 0;
}

@media (min-width: $width-tablet) {
  .banner-slide {
    padding: 232px 40px 39px 40px;


    &::before {
      left: 40px;
    }
  }

  .banner-slide__title {
    font-size: 22px;
  }

  .banner-slide__description {
    font-size: 16px;
    margin: 14px 200px 0 0;
  }
}

@media (min-width: $width-desktop) {
  .banner-slide[data-theme="users"] {
    --decor-image: url("../../image/promo-users-desktop.png");
    --width-decor-image: 424px;
    --height-decor-image: 383px;
    --decor-position-top: -128px;
    --decor-position-left: -23px;
    --max-width: 338px;
  }

  .banner-slide[data-theme="courses"] {
    --decor-image: url("../../image/promo-courses-desktop.png");
    --width-decor-image: 425px;
    --height-decor-image: 425px;
    --decor-position-top: -117px;
    --decor-position-left: -23px;
    --max-width: 396px;
  }

  .banner-slide[data-theme="mentors"] {
    --decor-image: url("../../image/promo-mentors-desktop.png");
    --width-decor-image: 425px;
    --height-decor-image: 425px;
    --decor-position-top: -124px;
    --decor-position-left: -15px;
    --max-width: 338px;
  }

  .banner-slide {
    padding: 0;
    background-color: transparent;
    border: none;
    max-width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;

    &::before {
      position: static;
      margin: var(--decor-position-top) 0 0 var(--decor-position-left);
    }
  }

  .banner-slide__content {
    width: 100%;
    max-width: var(--max-width);
  }

  .banner-slide__title {
    font-size: 30px;
  }

  .banner-slide__description {
    font-size: 16px;
    margin: 18px 0 0 0;
  }
}
