.banner-control {
  display: none;
}

@media (min-width: $width-desktop) {
  .banner-control[data-theme="users"] {
    --decor-image: url("../../image/banner-users-decor.svg");
    --width-decor-image: 20.22px;
    --height-decor-image: 20.47px;
  }

  .banner-control[data-theme="courses"] {
    --decor-image: url("../../image/banner-courses-decor.svg");
    --width-decor-image: 20.22px;
    --height-decor-image: 20.22px;
  }

  .banner-control[data-theme="mentors"] {
    --decor-image: url("../../image/banner-mentors-decor.svg");
    --width-decor-image: 13.49px;
    --height-decor-image: 20.22px;
  }

  .banner-control {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 4px 23px;
    background-color: $bg-color;
    border-radius: 30px;
    padding: 23px 27px;
    border: none;
    width: 100%;
    text-align: start;
    transition: 0.3s;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 47px;
    }

    &--active {
      background-color: $color-secondary;
    }

    &:hover {
      background-color: #DDE6FF;
      transition: 0.3s;
    }
  }

  .banner-control[aria-disabled="true"] {
    pointer-events: none;
  }

  .banner-control__decor-icon {
    position: relative;
    background-color: #F8F7FC;
    border: 1px solid #F0F0F0;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/3;
    transition: 0.3s;

    &::after {
      content: "";
      width: var(--width-decor-image);
      height: var(--height-decor-image);
      mask-image: var(--decor-image);
      background-color: #655BD5;
      transition: 0.3s;
    }

    &::before {
      content: "";
      width: 7.86px;
      height: 5.24px;
      mask-image: url("../../image/check.svg");
      background-color: $color-primary-light;
      mask-size: cover;
      position: absolute;
      top: 16.23px;
      right: 15.27px;
      opacity: 0;
      transition: 0.3s;
    }
  }

  .banner-control:hover .banner-control__decor-icon {
    background-color: #EDF2FF;
    transition: 0.3s;

    &::after {
      background-color: #839DFB;
      transition: 0.3s;
    }
  }

  .banner-control--active .banner-control__decor-icon {
    background-color: #567AE4;
    border: none;

    &::after {
      background-color: $color-primary-light;
    }
  }

  .banner-control--active[data-theme="users"] .banner-control__decor-icon::before {
    opacity: 1;
    transition: 0.3s;
  }

  .banner-control__title {
    font-size: 25px;
    line-height: 160%;
    color: $color-primary-dark;
    grid-column: 2/3;
    font-weight: 400;
    margin: 0;
  }

  .banner-control--active .banner-control__title {
    color: $color-primary-light;
  }

  .banner-control__description {
    grid-column: 2/3;
    color: #747474;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    max-width: 404px;
  }

  .banner-control--active .banner-control__description {
    color: #97B2FE;
  }

}
