.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  @include reset-list;
  display: flex;
}

.main-nav__link {
  font-size: 14px;
  font-weight: 600;
  color: #171716;
  display: none;
  text-decoration: none;

  &--current {
    display: block;
  }

  &:hover {
    color: rgba($color-secondary, 0.2);
    transition: 0.3s;
  }
}

@media (min-width: $width-tablet) {
  .main-nav__link {
    font-size: 16px;
  }
}

@media (min-width: $width-desktop) {
  .main-nav {
    width: calc((498 / (1280 - 118)) * 100%);
    margin-left: calc((280 / (1280 - 118)) * 100%);
  }

  .main-nav__list {
    width: 100%;
    justify-content: space-between;
  }

  .main-nav__link {
    font-size: 16px;
    font-weight: 500;
    display: block;
    color: #454545;

    &--current {
      color: $color-secondary;
    }
  }
}
