*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  height: 100%;
  min-width: $width-mobile;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: $color-primary-dark;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
  position: relative;
}

img {
  display: block;
  object-fit: contain;
}
