@mixin reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin h2 {
  font-weight: 700;
  font-size: 21px;
  color: $color-title;
  margin: 0;

  @media (min-width: $width-tablet) {
    font-size: 30px;
  }

  @media (min-width: $width-desktop) {
    font-size: 40px;
  }
}
