// colors
$color-primary-light: #FFFFFF;
$color-primary-dark: #181515;
$color-secondary-dark: #171716;
$color-secondary: #486DD8;
$color-button-nav: #BABABA;
$color-decor-line: #EAEAEA;
$color-title: #302828;
$bg-color: #FAFAFA;
$bg-color-nav: #F8F7FC;
$color-footer-link: #6B6B6B;

// fonts
$font-primary: "inter", sans-serif;

// Width
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1024px;
